.App {
  text-align: center;
}
.item {
  width: 50vw;
  margin: 0 auto;
}
.item .image {
  margin-top: 2rem;
}
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.underline {
  width: 100vw;
  height: 5px;
  background: red;
}
.cartList {
  width: 50vw;
  margin: 0 auto;
}
